<!-- extend base layout -->
{% extends "admin_base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
{% include 'subtemplates/flash.html' %}
<div class="well">
	<form action="" method="post" name="edit">
		{{ form.hidden_tag() }}
		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="nickname">Your nickname:</label>
			<div class="controls">
				{{ form.nickname(maxlength = 64, class = "span4") }}
				{% for error in form.errors.nickname %}
				<span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
			</div><!--controls-->
		</div><!--control-group-->
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit" value="Save Changes">
			</div><!--controls-->
		</div><!--control-group-->
	</form>
</div><!--well-->
{% endblock %}
